* {
  text-align: center;
}

h2{
  padding: 50px;
}

.deletebtns{
  float: right;
  margin-top: -7px;
  margin-right: -12px;

}

.newScore{
  background-color: #efefef;
  padding: 10px;
  padding-bottom: 25px;
  border-radius: 10px;

}

.newAddressLink{
  color: black;
}

.playerseparator{
  margin-bottom: 100px;
}

.greytext{
  color: grey;
}
