.allTeams{
  height: 400px;
}

.teamimages{
  height: 250px;
  width: 250px;
  padding: 50px;
}

.teamnames{
  color: black;
}


.buffer{
  height: 100px;
}

.info1{
  size: 20px;
}

.info2{
  size:10px;
}


.infoName{
  height: 200px;
  text-align: center;
}


.playerinfo{
  padding-top: 400px;
}
